.container{
    /* background-color: rgb(219, 181, 181); */
    display: grid;
    height: 80vh;
    /* align-content: space-around; */
    align-items: center;
    justify-items: center;
}
.container img{
    height: 50%;
}