.all {
    padding: 5rem;
    display: grid;
    align-content: center;
    justify-content: center;
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}
.container{
    background-color: #ebe5d5;
    padding: 3rem;
    max-width: 100rem;
    border-radius: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    /* gap: 1rem; */

    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.close{
    /* width: 10%; */
    /* background-color: grey; */
    /* display: grid; */
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 1;
    position: relative;
    /* top: -3rem; */
    align-self: start;
    justify-self: end;
    z-index: 99;
    font-size: min(3vw, 3rem);
    color: rgba(150, 150, 150, 0.4);
    cursor: pointer;
    text-decoration: none;
    /* padding: 1rem;
    border: .5rem solid rgb(255, 255, 255);
    border-radius: 1rem; */
}
.image {
    display: grid;
    /* align-content: center;
    justify-content: center; */
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    aspect-ratio: 1.35;
    border: .8rem solid rgb(250, 250, 250);
    background-color: rgb(250, 250, 250, 0.25);
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* width: 100%; */
    /* font-size: min(4vw, 3.8rem); */
    display: grid;
    justify-items: center;
    padding: 1rem;
}
.titleOk{
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    align-self: start;
    font-size: min(4vw, 3.8rem);
    text-align: center;
    height: 2.5em;
    resize: none;
}
.imageOk{
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    align-self: end;
    height: 2.5em;
    resize: none;
    width: 80%;
}
.field{
    /* background-color: #dfba81;
    border: 1px solid grey; */
    padding: .5rem;
    margin: .5rem;
}
.text{
}
.field h2 {
    font-size: 1.5rem;
    margin-top: 0em;
}
.text textarea {
    width: 100%;
    /* height: auto; */
    resize: vertical;
    min-height: 2.5em;
}
.step {
    margin: .5rem;
    display: grid;
    grid-template-columns: .5fr 9.5fr;
}
.step span{
    width: 1.2em;
    text-align: right;
    font-size: 1.5rem;
    margin-right: .5em;
}
.step input{
    width: 100%;
}

.textarea {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    font-size: 1.5rem;
    padding: .2em .4em;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 2.5em;
    line-height: 1.25em;
}

.properties{
}



.contDiets {
    font-size: 1.5rem;
    width: 100%;
}
.itemDiet{
    display: inline-block;
    height: 1.4em;  
    margin: .2em;  
    padding: .25em .6em;  
    /* white-space: nowrap;   */
    /* position: relative;  */
    cursor: pointer;
    border-radius: .5em;
    background-color: rgb(250, 250, 250, 0.8);
}
.itemDietSel{
    display: inline-block;
    height: 1.4em;  
    margin: .2em;  
    padding: .25em .6em;  
    /* white-space: nowrap;   */
    /* position: relative;  */
    cursor: pointer;
    border-radius: .5em;
    background-color: #dfba81;
    color: rgb(0, 0, 0);
}
.submit{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-items: center;
}
.inputError {
    border: 2px solid red;
}
.fieldError {
    border: 2px solid red;
    padding: .5rem;
    margin: .5rem;
}

.inputError:focus {
    border: 2px solid red;
}
.textError{
    font-size: 1.2rem;
    height: 100%;
    color: red;
    text-align: center;
    margin-top: .5em;
}
.textOk{
    height: 0;
    overflow: hidden;
    margin-top: .5em;
}