.container{
    /* background-color: beige; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 2rem);
    grid-auto-rows: 2rem;
    grid-gap: 4rem;
    align-content: center;
    justify-content: center;
    padding: 3rem;
}
.pag{
    font-size: 2rem;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    padding: .2em;
    background-color: #EBE5D5;
    border-radius: 100%;
    cursor: default;
    list-style-type: none;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    display: grid;
    align-content: space-around;
}
.pag:hover{
    background-color: #ebd593;
}
.pagSelect{
    font-size: 2rem;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    padding: .2em;
    background-color: #e9cb77;
    border-radius: 100%;
    cursor: default;
    list-style-type: none;
    
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    display: grid;
    align-content: space-around;
}