
.title {
    font-size: 55px;
    color: seagreen;
}
.titleD {
    font-size: 55px;
    color: greenyellow;
}

.container {
    background-color: lightgray;
}
.containerD {
    background-color: gray;
}