.container{
    background-color: lightgray;
    display: grid;
    grid-template-rows: 180px 40px 60px auto 1fr;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.18);
    height: 100vh;
}
.create:last-child{
    grid-row: 5;
    align-self: end;
    margin-bottom: 1em;
    font-size: 2rem;
}
.Logo {
    max-height: 75%;
    max-width: 70%;
    justify-self: center;
    align-self: center;
    mix-blend-mode: darken;
    cursor: pointer;
}
.contButtons{
    /* background-color: rgb(240, 186, 186); */
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    justify-content: space-around;
    align-content: space-around;
}
.create {
    width: auto;
    height: 2.5rem;
    text-align: center;
    justify-self: center;
}
.contSearch{
    background-color: rgb(186, 240, 207);
    padding: 1rem;
    justify-self: center;
    align-self: center;
}
.searchOff{
    height: 0%;
    overflow: hidden;
}

@media screen and (max-width: 1580px) {
    .container{
        background-color: lightgray;
        grid-template-columns: 200px 100px auto;
        grid-template-rows: 100px;
        box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.18)
    }
    .Logo {
        width: 110%;
        align-items: center;
    }
    .contButtons{
        grid-template-rows: repeat(2, 1vh);
        grid-template-columns: 1vh;
        justify-items: center;
        align-items: center;
    }
    .contSearch{
    }
}